@tailwind utilities;
@import "tailwindcss";
/* @import "@tailwindcss/preflight"; */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.typing{
  animation: typing 4s steps(20) 100ms infinite alternate both;
}

.animate_scan{
  animation: scan 5s linear 100ms 3 alternate both;
}

@keyframes scan {
  from {
    transform: translateY(0px);
  }
  to {
    backdrop-filter: blur(4px);
    transform: translateY(100%);
  }
}

@keyframes typing {
  from {
    max-width: 0ch;
    /* color: blue; */
  }
  to {
    max-width: 20ch;
    /* color: red; */
  }
}
