@tailwind utilities;
@import "tailwindcss";
/* @import "@tailwindcss/preflight"; */
/* @import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap'); */


/* .doto-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "ROND" 0;
} */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* .doto{
  font-family: "Doto", sans-serif;
} */

.typing {
  animation: typing 3s steps(20) 100ms infinite alternate both;
}

.animate_scan {
  animation: scan 2s linear 100ms 1 alternate both;
}

.animate_show {
  animation: show 2s linear 100ms 1 alternate both;
}

.animate_showMenu {
  animation: showMenu 2s linear 0ms 1 alternate both;
}

.animate_hiddenMenu {
  animation: hiddenMenu 2s linear 0ms 1 alternate both;
}

@keyframes scan {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes show {
  from {
    height: 0px;
  }
  to {
    height: 100%;
  }
}

@keyframes typing {
  from {
    /* color: #213547; */
    max-width: 0ch;
    /* overflow: hidden; */
  }
  to {
    /* color: green; */
    max-width: 20ch;
  }
}

/* max-lg: in TailwindCSS */
@media screen and (max-width: 1023px) {
  @keyframes showMenu {
    from {
      z-index: 10;
      max-height: max-content;
      transform: translateY(-100%);
    }
    to {
      z-index: 10;
      transform: translateY(0%);
      max-height: max-content;
    }
  }

  @keyframes hiddenMenu {
    from {
      display: flex;
      justify-content: end;
      align-items: end;
      z-index: 10;
      max-height: max-content;
      transform: translateY(0%);
    }
    to {
      display: flex;
      justify-content: end;
      align-items: end;
      z-index: 10;
      max-height: max-content;
      transform: translateY(-150%);
    }
  }
}

.visible {
  animation: visible 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 alternate
    both;
}

.hidden {
  animation: visible 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 alternate
    both;
}

.scaler {
  animation: scaler 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 alternate
    both;
}

@keyframes visible {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes hidden {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes scaler {
  from {
    /* opacity: 0; */
    transform: scale(0);
  }
  to {
    /* opacity: 1; */
    transform: scale(1);
  }
}

