@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid currentColor;
  animation: typing 3s steps(20) infinite alternate;
}

@keyframes typing {
  from { max-width: 0ch; }
  to   { max-width: 20ch; }
}

.animate-scan {
  animation: scan 2s linear forwards;
}

@keyframes scan {
  from { transform: translateY(0); }
  to   { transform: translateY(100%); }
}

.animate-expand {
  overflow: hidden;
  animation: expand 0.4s ease forwards;
}

@keyframes expand {
  from { max-height: 0; opacity: 0; }
  to   { max-height: 500px; opacity: 1; }
}

.animate-shrink {
  overflow: hidden;
  animation: shrink 0.4s ease forwards;
}

@keyframes shrink {
  from   { max-height: 500px; opacity: 1; }
  to { max-height: 0; opacity: 0; }
}

.animate-slide-in {
  animation: slideIn 0.4s ease forwards;
}

.animate-slide-out {
  animation: slideOut 0.4s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.animate-profile-pic {
  animation: profilePic 2s linear forwards;
}

@keyframes profilePic {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.animate-scale-in {
  animation: scaleIn 0.3s ease forwards;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1023px) {

  .animate-menu-in {
    animation: menuIn 0.3s ease forwards;
  }

  .animate-menu-out {
    animation: menuOut 0.3s ease forwards;
  }

  @keyframes menuIn {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes menuOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}

.animate-slide-in,
.animate-slide-out,
.animate-scale-in,
.animate-menu-in,
.animate-menu-out {
  will-change: transform, opacity;
}